/application/config/config.ini
/application/jobs/chatserver/node_modules/*
/application/jobs/chatserver/output.log
/work/*
node_modules
/application/controller/PlaygroundController.php
/application/view/playground/
/public/js/test/